@import "../../../../variables.scss";
.main {
    .header {
        .btn-groups {
            a {
                margin: 5px;
                float: left;
            }
            button {
                position: relative;
                float: left;
            }
        }
    }
    .main-page {
        .must {
            .row {
                .col-2 {
                    p {
                        margin: 0;
                        line-height: 2.5;
                    }
                }
                .col-10 {
                    .custom-select {
                        // &:invalid {
                        //     color: gray;
                        // }
                        // [disabled] {
                        //     color: gray;
                        // }
                        // option {
                        //     color: $regular-color;
                        // }
                    }
                }
            }
        }
    }
}