<div class="container">
  <div class="row justify-content-between">
    <div class="col-auto title-tab">
      <h3 id="title">Air Jordan</h3>
      <p>3등급 브랜드</p>
    </div>
    <div class="col-auto balance-tab">
      <h4 id="balance-item">잔고: <span id="balance">&#8361;{{balance}}</span></h4>
      <p>다음 지급일: 2018년 12월 24일 (목)</p>
    </div>
  </div>

  <div class="main row">
    <div class="col-8">
      <div class="row">
        <div class="col-auto">
          <p>전체상품</p>
        </div>
        <div class="col-auto">
          <p>상의</p>
        </div>
        <div class="col-auto">
          <p>하의</p>
        </div>
        <div class="col-auto">
          <p>원피스</p>
        </div>
        <div class="col-auto">
          <p>아우터</p>
        </div>
        <div class="col-auto">
          <p>성별: 전체</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row justify-content-between">
        <div class="col-auto">
          <p>선택된 항목</p>
        </div>
        <div class="col-auto">
          <button routerLink="/main/item-upload">새상품 등록</button>
        </div>
      </div>
    </div>
  </div>
</div>