<div class="main">
  <div class="main__leftNavigation">
    <div class="main__leftNavigation__header">
      <img
        src="assets/img/colored_logo.png"
        alt="wav"
        id="main-logo"
        height="50"
      />
    </div>
    <div class="main__leftNavigation__headerTextWrapper">
      <a>알림 센터 (4)</a>
    </div>
    <hr />
    <div class="main__leftNavigation__bodyWrapper">
      <div
        class="main__leftNavigation__bodyWrapper__navItem"
        routerLink="{{ navConfig.route }}"
        *ngFor="let navConfig of navConfigs"
        [class.selected]="navConfig.value === selectedType"
        (click)="onClickNavItem({ type: navConfig.value })"
      >
        <div>
          {{ navConfig.title }}
        </div>
      </div>
    </div>
  </div>
  <div class="main__content">
    <router-outlet></router-outlet>
  </div>

  <div class="main__rightNavigation">
    <a (click)="logout()">로그아웃</a>
  </div>
</div>
