@import "../../../variables.scss";


.main {
    margin-top: 30px;
    max-width: 98%;
    .main-row {
        .tabs {
            height: 900px;
            border: 1px solid darkblue;
            .row {
                .col-12 {
                    padding: 0px 26px;
                    a {
                        font-size: 15pt;
                    }
                    /* unvisited link */
                    a:link {
                        color: $regular-color;
                    }
                    /* visited link */
                    a:visited {
                        color: $regular-color;
                    }
                    /* mouse over link */
                    a:hover {
                        color: $regular-color;
                        text-decoration: none;
                    }
                    /* selected link */
                    a:active {
                        color: $regular-color;
                    }
                }
                .hair-line {
                    padding: 0;
                }
                .alarm {
                    a {
                        font-size: 16pt;
                        font-weight: 600;
                        color: $regular-color;
                    }
                    /* unvisited link */
                    a:link {
                        color: $regular-color;
                    }
                    /* visited link */
                    a:visited {
                        color: $regular-color;
                    }
                    /* mouse over link */
                    a:hover {
                        color: $regular-color;
                        text-decoration: none;
                    }
                    /* selected link */
                    a:active {
                        color: $regular-color;
                    }
                }
            }
        }
        .main-page {
            height: 900px;
            border: 1px solid chocolate;
        }

        .logout-tab {
            text-align: end;
        }
    }
}